<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>QuickReactions by jeffhandley - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="icon" href="https://avatars3.githubusercontent.com/u/1031940?v=3&s=40" media="screen" type="image/x-icon">
    <link href='http://alexgorbatchev.com/pub/sh/current/styles/shCore.css' rel='stylesheet' type='text/css'/>
    <link href='http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css' rel='stylesheet' type='text/css'/>
    <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js' type='text/javascript'></script>
    <!-- <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushCpp.js' type='text/javascript'></script>  -->
    <!-- <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushCSharp.js' type='text/javascript'></script>  -->
    <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushCss.js' type='text/javascript'></script>
    <!-- <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJava.js' type='text/javascript'></script>  -->
    <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js' type='text/javascript'></script>
    <!-- <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushPhp.js' type='text/javascript'></script>  -->
    <!-- <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushPython.js' type='text/javascript'></script>  -->
    <!-- <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushRuby.js' type='text/javascript'></script>  -->
    <!-- <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushSql.js' type='text/javascript'></script>  -->
    <!-- <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushVb.js' type='text/javascript'></script>  -->
    <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js' type='text/javascript'></script>
    <!-- <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushPerl.js' type='text/javascript'></script>  -->
    <script language='javascript'>
    SyntaxHighlighter.config.clipboardSwf = 'http://alexgorbatchev.com/pub/sh/current/scripts/clipboard.swf';
    SyntaxHighlighter.all();
    </script>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css?2015-05-15-12-30" media="screen">
  </head>
  <body>
    {% if page.step %}<div class="step-page">{% endif %}
    <section class="page-header">
      <h1 class="project-name"><a href=".">QuickReactions</a></h1>
      <h2 class="project-tagline">Isomorphic Hello World with React and Node</h2>
      <a href="https://github.com/jeffhandley/QuickReactions" class="btn">View on GitHub</a>
    </section>
    {% if page.step %}</div>{% endif %}
    {% if page.step %}
    <aside>
      <a href="." class="asideheader">Home</a>
      <ol>
        <li><a href="1-helloworld.html" {% if page.step == 1 %}class="selected"{% endif %}>Hello World in Node.js</a></li>
        <li><a href="2-jsx.html">React's JSX Syntax</a></li>
        <li><a href="3-gulp-workflow.html">Gulp Improves the Workflow</a></li>
        <li><a href="4-gulp-node.html">Gulp Runs Node</a></li>
        <li><a href="5-gulp-restart.html">Gulp Restarts Node Automatically</a></li>
        <li><a href="6-gulp-complete.html">Complete Gulp Workflow</a></li>
        <li><a href="7-react-components.html">React Components</a></li>
        <li><a href="8-react-properties.html">React Component Properties</a></li>
        <li><a href="9-react-client.html">React on the Client</a></li>
        <li><a href="10-react-state.html">React's Client-Side State</a></li>
        <li><a href="11-routing.html">Basic Routing</a></li>
        <li><a href="12-server-rendering.html">Improved Server Rendering</a></li>
        <li><a href="13-jsx-client.html">JSX for Client Components</a></li>
        <li><a href="14-jsx-server.html">Server-Side JSX Processing for the Client</a></li>
        <li><a href="15-isomorphic-aim.html">Aiming for Isomorphic</a></li>
        <li><a href="16-browserify.html">Browserify to Transpile JavaScript</a></li>
        <li><a href="17-structure">Project Structure</a></li>
        <li><a href="18-jsx-pages.html">Rendering Pages with JSX</a></li>
        <li><a href="19-isomorphic.html">Reaching Isomorphic Goal</a></li>
        <li><a href="20-references.html">References</a></li>
      </ol>
    </aside>
    {% endif %}

    <section class="main-content">
    {% if page.step %}
      <h1 class="step-title">{{ page.step }}. {{ page.title }}</h1>
    {% endif %}
    {{ content }}
    </section>

    <footer class="site-footer">
      <span class="site-footer-owner"><a href="https://github.com/jeffhandley/QuickReactions">QuickReactions</a> was created by <a href="https://github.com/jeffhandley">jeffhandley</a>.</span>

      <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using a modified version of the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
    </footer>

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-11713933-2");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>
